@import "tailwindcss";

/* ==========================================================
   THEME
========================================================== */

@theme {
  /* Colors */
  --color-primary: #FF6D29;
  --color-secondary: #453027;

  --color-background: #161316;
  --color-neutral: #BABABA;
  --color-white: #FFFFFF;

  /* Fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

/* ==========================================================
   BASE
========================================================== */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    background: var(--color-background);
    color: var(--color-white);
    font-family: var(--font-body);

    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Hide scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

/* ==========================================================
   SELECTION
========================================================== */

::selection {
  background: var(--color-primary);
  color: var(--color-white);
}
